#!/usr/bin/make -f

PYTHON3=$(shell py3versions -dvr)

#DH_VERBOSE=1
#DEB_BUILD_OPTIONS=nocheck

# Prevent setuptools/distribute from accessing the internet.
export http_proxy = http://127.0.9.1:9
export https_proxy = https://127.0.9.1:9

%:
	dh $@ --with python3

ifeq (,$(filter nocheck,$(DEB_BUILD_OPTIONS)))
test-python%:
	unset http_proxy; unset https_proxy; export HOME=/tmp; \
	export SYSTEMIMAGE_REACTOR_TIMEOUT=1200; \
	export SYSTEMIMAGE_DBUS_DAEMON_HUP_SLEEP_SECONDS=2; \
	nodot=$(shell echo $* | cut --complement -b 2); \
	tox -e py$${nodot}

override_dh_auto_test: $(PYTHON3:%=test-python%)
endif

build-python%:
	python$* setup.py build

override_dh_auto_build: $(PYTHON3:%=build-python%)

install-python%:
	python$* setup.py install --root=$(CURDIR)/debian/tmp \
				  --install-layout=deb

override_dh_auto_install: $(PYTHON3:%=install-python%)

override_dh_install:
	dh_install -Xsystemimage/tests -Xsystemimage/testing \
		   -p system-image-common usr/lib/python3
	dh_install -p system-image-dev \
		   usr/lib/python3/dist-packages/systemimage/tests
	dh_install -p system-image-dev \
		   usr/lib/python3/dist-packages/systemimage/testing
	dh_install -p system-image-cli usr/bin/system-image-cli
	dh_install -p system-image-common \
		    debian/archive-master.tar.xz etc/system-image
	dh_install -p system-image-common \
		   debian/archive-master.tar.xz.asc etc/system-image
	dh_install -p system-image-common \
		   systemimage/data/client.ini etc/system-image
	dh_install -p system-image-dbus usr/bin/system-image-dbus usr/sbin
	dh_install -p system-image-dbus \
		   systemimage/data/com.canonical.SystemImage.service \
		   usr/share/dbus-1/system-services
	dh_install -p system-image-dbus \
		   systemimage/data/com.canonical.SystemImage.conf \
		   etc/dbus-1/system.d

override_dh_installchangelogs:
	dh_installchangelogs -k NEWS.rst

override_dh_installman:
	rst2man cli-manpage.rst > debian/tmp/system-image-cli.man
	rst2man dbus-manpage.rst > debian/tmp/system-image-dbus.man
	rst2man ini-manpage.rst > debian/tmp/client-ini.man
	dh_installman

# override_dh_installdocs:
# 	python setup.py build_sphinx
# 	dh_installdocs build/sphinx/html

override_dh_auto_clean:
	dh_auto_clean
	rm -rf build
	rm -rf *.egg-info
